%% -*- mode: erlang -*-

%% {erl_opts, [warn_missing_spec]}.

%% {clean_files, [ "doc/edoc-info"
%%               , "doc/erlang.png"
%%               , "doc/stylsheet.css"
%%               , "doc/*.html"
%%               ]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, race_conditions, underspecs]},
    {get_warnings, true},
    {plt_extra_apps, [compiler]}
]}.
